{{ $image := resources.Get "images/sweeney-singers-2024.jpg" }} {{ $width :=
$image.Width }} {{ $height := $image.Height }} {{- $jpeg := $image.Resize
(printf "%sx jpeg" (string $width)) }}

{{/* Hide save the date message after concert is over. */}}
{{ $currentDate := now }}
{{ $expiryDate := time "2024-12-21T23:59:59Z" }}

<article class="max-w-full prose dark:prose-invert">
  {{ with .Title }}
  <header>
    <h1>{{ . | emojify }}</h1>
  </header>
  {{ end }}
  {{ if lt $currentDate $expiryDate }}
  <div class="flex rounded-md bg-primary-100 px-4 py-3 dark:bg-neutral-700">
    <span class="pe-3 text-primary-400">
      {{ partial "icon.html" "lightbulb"}}
    </span>
    <span class="dark:text-neutral-300 text-md">Save the date for our Christmas concert on <span class="text-primary-400 font-bold">Saturday, December 21st, at 7:30 PM,</span> at St. James Catholic Church in Abbotsford.<span>
  </div> 
  {{ end }}

  <div class="grid md:grid-cols-3 gap-4">
    <div class="mt-6">
      <h1 class="text-[52px] text-primary-500 dark:text-primary-500 text-center md:text-left">Sweeney Singers</h1>
      <section>{{ .Content | emojify }}</section>
    </div>
    <div class="col-span-2 -mt-6">
      {{ with $image }}
      <img
        src="{{ $jpeg.RelPermalink }}"
        width="{{ $jpeg.Width }}"
        height="{{ $jpeg.Height }}"
      />
      {{ end }}
    </div>
  </div>
</article>
<section>{{ partial "recent-articles.html" . }}</section>
