html {
    font-family: 'Prompt', sans-serif;
}

.banner img {
    width: 100%;
    position: relative;
}

.banner .overlay {
    position: absolute;
    top: 44%;
    left: 24%;
    text-align: center;
    font-size: 4rem;

}

