/*! Congo v2.8.2 | MIT License | https://github.com/jpanther/congo */

/*! tailwindcss v3.4.3 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

.prose {
  color: var(--tw-prose-body);
  max-width: 65ch;
}

.prose :where(p):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose :where([class~="lead"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-lead);
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-links);
  text-decoration: underline;
  font-weight: 500;
  text-decoration-color: rgba(var(--color-primary-300), 1);
}

.prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)):hover {
  color: rgba(var(--color-neutral), 1);
  text-decoration: none;
  background-color: rgba(var(--color-primary-600), 1);
  border-radius: 0.09rem;
}

.prose :where(strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-bold);
  font-weight: 600;
}

.prose :where(a strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(blockquote strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(thead th strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(ol):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: decimal;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-inline-start: 1.625em;
}

.prose :where(ol[type="A"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: upper-alpha;
}

.prose :where(ol[type="a"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: lower-alpha;
}

.prose :where(ol[type="A" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: upper-alpha;
}

.prose :where(ol[type="a" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: lower-alpha;
}

.prose :where(ol[type="I"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: upper-roman;
}

.prose :where(ol[type="i"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: lower-roman;
}

.prose :where(ol[type="I" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: upper-roman;
}

.prose :where(ol[type="i" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: lower-roman;
}

.prose :where(ol[type="1"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: decimal;
}

.prose :where(ul):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-inline-start: 1.625em;
}

.prose :where(ol > li):not(:where([class~="not-prose"],[class~="not-prose"] *))::marker {
  font-weight: 400;
  color: var(--tw-prose-counters);
}

.prose :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *))::marker {
  color: var(--tw-prose-bullets);
}

.prose :where(dt):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  margin-top: 1.25em;
}

.prose :where(hr):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  border-color: var(--tw-prose-hr);
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.prose :where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 500;
  font-style: italic;
  color: var(--tw-prose-quotes);
  border-inline-start-width: 0.25rem;
  border-inline-start-color: var(--tw-prose-quote-borders);
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-inline-start: 1em;
}

.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
  content: open-quote;
}

.prose :where(blockquote p:last-of-type):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
  content: close-quote;
}

.prose :where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

.prose :where(h1 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 900;
  color: inherit;
}

.prose :where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

.prose :where(h2 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 800;
  color: inherit;
}

.prose :where(h3):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

.prose :where(h3 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 700;
  color: inherit;
}

.prose :where(h4):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.prose :where(h4 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 700;
  color: inherit;
}

.prose :where(img):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(picture):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(video):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(kbd):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 600;
  font-family: inherit;
  color: var(--tw-prose-kbd);
  box-shadow: 0 0 0 1px rgb(var(--tw-prose-kbd-shadows) / 10%), 0 3px 0 rgb(var(--tw-prose-kbd-shadows) / 10%);
  font-size: 0.9rem;
  border-radius: 0.25rem;
  padding-top: 0.1875em;
  padding-inline-end: 0.375em;
  padding-bottom: 0.1875em;
  padding-inline-start: 0.375em;
  background-color: rgba(var(--color-neutral-200), 1);
  padding: 0.1rem 0.4rem;
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-code);
  font-weight: 600;
  font-size: 0.875em;
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
  content: "`";
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
  content: "`";
}

.prose :where(a code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-code);
}

.prose :where(h1 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(h2 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
  font-size: 0.875em;
}

.prose :where(h3 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
  font-size: 0.9em;
}

.prose :where(h4 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(blockquote code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(thead th code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(pre):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-pre-code);
  background-color: var(--tw-prose-pre-bg);
  overflow-x: auto;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding-top: 0.8571429em;
  padding-inline-end: 1.1428571em;
  padding-bottom: 0.8571429em;
  padding-inline-start: 1.1428571em;
}

.prose :where(pre code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

.prose :where(pre code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
  content: none;
}

.prose :where(pre code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
  content: none;
}

.prose :where(table):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  width: 100%;
  table-layout: auto;
  text-align: start;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
}

.prose :where(thead):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  border-bottom-width: 1px;
  border-bottom-color: var(--tw-prose-th-borders);
}

.prose :where(thead th):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  vertical-align: bottom;
  padding-inline-end: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-inline-start: 0.5714286em;
}

.prose :where(tbody tr):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  border-bottom-width: 1px;
  border-bottom-color: var(--tw-prose-td-borders);
}

.prose :where(tbody tr:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  border-bottom-width: 0;
}

.prose :where(tbody td):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  vertical-align: baseline;
}

.prose :where(tfoot):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  border-top-width: 1px;
  border-top-color: var(--tw-prose-th-borders);
}

.prose :where(tfoot td):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  vertical-align: top;
}

.prose :where(figure > *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.prose :where(figcaption):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-captions);
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}

.prose {
  --tw-prose-body: rgba(var(--color-neutral-700), 1);
  --tw-prose-headings: rgba(var(--color-neutral-800), 1);
  --tw-prose-lead: rgba(var(--color-neutral-500), 1);
  --tw-prose-links: rgba(var(--color-primary-700), 1);
  --tw-prose-bold: rgba(var(--color-neutral-900), 1);
  --tw-prose-counters: rgba(var(--color-neutral-800), 1);
  --tw-prose-bullets: rgba(var(--color-neutral-500), 1);
  --tw-prose-hr: rgba(var(--color-neutral-200), 1);
  --tw-prose-quotes: rgba(var(--color-neutral-700), 1);
  --tw-prose-quote-borders: rgba(var(--color-primary-200), 1);
  --tw-prose-captions: rgba(var(--color-neutral-500), 1);
  --tw-prose-kbd: #111827;
  --tw-prose-kbd-shadows: 17 24 39;
  --tw-prose-code: rgba(var(--color-secondary-700), 1);
  --tw-prose-pre-code: rgba(var(--color-neutral-700), 1);
  --tw-prose-pre-bg: rgba(var(--color-neutral-50), 1);
  --tw-prose-th-borders: rgba(var(--color-neutral-500), 1);
  --tw-prose-td-borders: rgba(var(--color-neutral-300), 1);
  --tw-prose-invert-body: rgba(var(--color-neutral-300), 1);
  --tw-prose-invert-headings: rgba(var(--color-neutral-50), 1);
  --tw-prose-invert-lead: rgba(var(--color-neutral-500), 1);
  --tw-prose-invert-links: rgba(var(--color-primary-400), 1);
  --tw-prose-invert-bold: rgba(var(--color-neutral), 1);
  --tw-prose-invert-counters: rgba(var(--color-neutral-400), 1);
  --tw-prose-invert-bullets: rgba(var(--color-neutral-600), 1);
  --tw-prose-invert-hr: rgba(var(--color-neutral-500), 1);
  --tw-prose-invert-quotes: rgba(var(--color-neutral-200), 1);
  --tw-prose-invert-quote-borders: rgba(var(--color-primary-900), 1);
  --tw-prose-invert-captions: rgba(var(--color-neutral-400), 1);
  --tw-prose-invert-kbd: #fff;
  --tw-prose-invert-kbd-shadows: 255 255 255;
  --tw-prose-invert-code: rgba(var(--color-secondary-400), 1);
  --tw-prose-invert-pre-code: rgba(var(--color-neutral-200), 1);
  --tw-prose-invert-pre-bg: rgba(var(--color-neutral-700), 1);
  --tw-prose-invert-th-borders: rgba(var(--color-neutral-500), 1);
  --tw-prose-invert-td-borders: rgba(var(--color-neutral-700), 1);
  font-size: 1rem;
  line-height: 1.75;
}

.prose :where(picture > img):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.prose :where(li):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose :where(ol > li):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-start: 0.375em;
}

.prose :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-start: 0.375em;
}

.prose :where(.prose > ul > li p):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.prose :where(.prose > ul > li > *:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 1.25em;
}

.prose :where(.prose > ul > li > *:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-bottom: 1.25em;
}

.prose :where(.prose > ol > li > *:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 1.25em;
}

.prose :where(.prose > ol > li > *:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-bottom: 1.25em;
}

.prose :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.prose :where(dl):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose :where(dd):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0.5em;
  padding-inline-start: 1.625em;
}

.prose :where(hr + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(h2 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(h3 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(h4 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(thead th:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-start: 0;
}

.prose :where(thead th:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-end: 0;
}

.prose :where(tbody td, tfoot td):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-top: 0.5714286em;
  padding-inline-end: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-inline-start: 0.5714286em;
}

.prose :where(tbody td:first-child, tfoot td:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-start: 0;
}

.prose :where(tbody td:last-child, tfoot td:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-end: 0;
}

.prose :where(figure):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(.prose > :first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(.prose > :last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-bottom: 0;
}

.prose :where(mark):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: rgba(var(--color-neutral-800), 1);
  background-color: rgba(var(--color-secondary-200), 1);
  padding: 0.1rem 0.2rem;
  border-radius: 0.12rem;
}

body a,
body button {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/* Scale SVG icons to text size */

.icon svg {
  height: 1em;
  width: 1em;
}

/* Search */

#search-query::-webkit-search-cancel-button,
#search-query::-webkit-search-decoration,
#search-query::-webkit-search-results-button,
#search-query::-webkit-search-results-decoration {
  display: none;
}

/* Hamburger menu */

body:has(#menu-controller:checked) {
  height: 100vh;
  overflow: hidden;
}

#menu-button:has(#menu-controller:checked) {
  visibility: hidden;
}

#menu-controller:checked ~ #menu-wrapper {
  visibility: visible;
  opacity: 1;
}

/* RTL support */

.prose blockquote:where([dir="rtl"], [dir="rtl"] *) {
  border-left-width: 0px;
  border-right-width: 4px;
  padding-right: 1rem;
}

.prose ul > li:where([dir="rtl"], [dir="rtl"] *),
.prose ol > li:where([dir="rtl"], [dir="rtl"] *) {
  margin-right: 1.75rem;
  padding-left: 0px;
  padding-right: 0.5rem;
}

.prose ol > li:where([dir="rtl"], [dir="rtl"] *):before,
.prose ul > li:where([dir="rtl"], [dir="rtl"] *):before {
  left: auto;
  right: 0.25rem;
}

.prose thead td:first-child:where([dir="rtl"], [dir="rtl"] *),
.prose thead th:first-child:where([dir="rtl"], [dir="rtl"] *) {
  padding-right: 0px;
}

.prose thead td:last-child:where([dir="rtl"], [dir="rtl"] *),
.prose thead th:last-child:where([dir="rtl"], [dir="rtl"] *) {
  padding-left: 0px;
}

/* Adjust first child within prose */

.prose div.min-w-0.max-w-prose > *:first-child {
  margin-top: 0.75rem;
}

/* Table of Contents */

.toc {
  max-height: 100vh;
  overflow-y: auto;
  padding-bottom: 50px;
}

.toc ul,
.toc li {
  list-style-type: none;
  padding-left: 0px;
  padding-right: 0px;
  line-height: 1.375;
}

.toc ul ul {
  padding-inline-start: 1rem;
}

.toc a {
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-700), var(--tw-text-opacity));
}

.toc a:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-400), var(--tw-text-opacity));
}

.toc ul > li:where([dir="rtl"], [dir="rtl"] *) {
  margin-right: 0px;
}

/* Code Copy */

.highlight-wrapper {
  display: block;
}

.highlight {
  position: relative;
  z-index: 0;
}

.highlight:hover > .copy-button {
  visibility: visible;
}

.copy-button {
  visibility: hidden;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;
  width: 5rem;
  cursor: pointer;
  white-space: nowrap;
  border-bottom-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-200), var(--tw-bg-opacity));
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-700), var(--tw-text-opacity));
  opacity: 0.9;
}

.copy-button:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-600), var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-200), var(--tw-text-opacity));
}

.copy-button:hover,
.copy-button:focus,
.copy-button:active,
.copy-button:active:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-100), var(--tw-bg-opacity));
}

.copy-button:hover:is(.dark *),
.copy-button:focus:is(.dark *),
.copy-button:active:is(.dark *),
.copy-button:active:hover:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-600), var(--tw-bg-opacity));
}

.copy-textarea {
  position: absolute;
  z-index: -10;
  opacity: 0.05;
}

/* Fix long KaTeX equations on mobile (see https://katex.org/docs/issues.html#css-customization) */

.katex-display {
  overflow: auto hidden;
}

/* Fix long tables breaking out of article on mobile */

table {
  display: block;
  overflow: auto;
}

@media (min-width: 768px) {
  table {
    display: table;
  }
}

/* Fix long inline code sections breaking out of article on mobile */

code {
  word-wrap: break-word;
  /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;
}

/* -- Chroma Highlight -- */

/* Background */

.chroma {
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-50), var(--tw-bg-opacity));
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-700), var(--tw-text-opacity));
}

.chroma:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-700), var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-200), var(--tw-text-opacity));
}

.chroma pre {
  margin: 0px;
  padding: 0px;
}

/* LineTable */

.chroma .lntable {
  margin: 0px;
  display: block;
  width: auto;
  overflow: auto;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* LineNumbersTable */

/* LineNumbers */

.chroma .lnt,
.chroma .ln {
  margin-right: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-600), var(--tw-text-opacity));
}

.chroma .lnt:is(.dark *),
.chroma .ln:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-300), var(--tw-text-opacity));
}

.chroma .lntd {
  padding: 0px;
  vertical-align: top;
}

.chroma .lntd:last-of-type {
  width: 100%;
}

/* LineHighlight */

.chroma .hl {
  display: block;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-100), var(--tw-bg-opacity));
}

.chroma .hl:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-900), var(--tw-bg-opacity));
}

/* Keyword */

/* KeywordDeclaration */

/* KeywordNamespace */

/* KeywordPseudo */

/* KeywordReserved */

/* NameClass */

/* NameFunctionMagic */

/* NameNamespace */

/* NameVariableClass */

/* Operator */

.chroma .k,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kr,
.chroma .nc,
.chroma .fm,
.chroma .nn,
.chroma .vc,
.chroma .o {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-600), var(--tw-text-opacity));
}

.chroma .k:is(.dark *),
.chroma .kd:is(.dark *),
.chroma .kn:is(.dark *),
.chroma .kp:is(.dark *),
.chroma .kr:is(.dark *),
.chroma .nc:is(.dark *),
.chroma .fm:is(.dark *),
.chroma .nn:is(.dark *),
.chroma .vc:is(.dark *),
.chroma .o:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-300), var(--tw-text-opacity));
}

/* KeywordConstant */

.chroma .kc {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-400), var(--tw-text-opacity));
}

.chroma .kc:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-500), var(--tw-text-opacity));
}

/* KeywordType */

/* NameVariable */

/* NameVariableInstance */

/* NameVariableMagic */

/* LiteralNumber */

/* LiteralNumberBin */

/* LiteralNumberFloat */

/* LiteralNumberHex */

/* LiteralNumberInteger */

/* LiteralNumberIntegerLong */

/* LiteralNumberOct */

.chroma .kt,
.chroma .nv,
.chroma .vi,
.chroma .vm,
.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .il,
.chroma .mo {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-400), var(--tw-text-opacity));
}

.chroma .kt:is(.dark *),
.chroma .nv:is(.dark *),
.chroma .vi:is(.dark *),
.chroma .vm:is(.dark *),
.chroma .m:is(.dark *),
.chroma .mb:is(.dark *),
.chroma .mf:is(.dark *),
.chroma .mh:is(.dark *),
.chroma .mi:is(.dark *),
.chroma .il:is(.dark *),
.chroma .mo:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-600), var(--tw-text-opacity));
}

/* Name */

/* NameDecorator */

/* NameEntity */

/* NameLabel */

.chroma .n,
.chroma .nd,
.chroma .ni,
.chroma .nl {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-900), var(--tw-text-opacity));
}

.chroma .n:is(.dark *),
.chroma .nd:is(.dark *),
.chroma .ni:is(.dark *),
.chroma .nl:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-200), var(--tw-text-opacity));
}

/* NameAttribute */

/* NameBuiltin */

/* NameBuiltinPseudo */

/* NameOther */

/* NameProperty */

/* NameTag */

.chroma .na,
.chroma .nb,
.chroma .bp,
.chroma .nx,
.chroma .py,
.chroma .nt {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-800), var(--tw-text-opacity));
}

.chroma .na:is(.dark *),
.chroma .nb:is(.dark *),
.chroma .bp:is(.dark *),
.chroma .nx:is(.dark *),
.chroma .py:is(.dark *),
.chroma .nt:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-300), var(--tw-text-opacity));
}

/* NameConstant */

/* NameException */

/* NameVariableGlobal */

.chroma .no,
.chroma .ne,
.chroma .vg {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-400), var(--tw-text-opacity));
}

.chroma .no:is(.dark *),
.chroma .ne:is(.dark *),
.chroma .vg:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-500), var(--tw-text-opacity));
}

/* NameFunction */

.chroma .nf {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-600), var(--tw-text-opacity));
}

.chroma .nf:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-500), var(--tw-text-opacity));
}

/* Literal */

/* LiteralDate */

/* LiteralString */

/* LiteralStringAffix */

/* LiteralStringBacktick */

/* LiteralStringChar */

/* LiteralStringDelimiter */

/* LiteralStringDoc */

/* LiteralStringDouble */

/* LiteralStringHeredoc */

/* LiteralStringInterpol */

/* LiteralStringOther */

/* LiteralStringSingle */

/* GenericInserted */

/* GenericOutput */

/* GenericPrompt */

.chroma .l,
.chroma .ld,
.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .s1,
.chroma .gi,
.chroma .go,
.chroma .gp {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-800), var(--tw-text-opacity));
}

.chroma .l:is(.dark *),
.chroma .ld:is(.dark *),
.chroma .s:is(.dark *),
.chroma .sa:is(.dark *),
.chroma .sb:is(.dark *),
.chroma .sc:is(.dark *),
.chroma .dl:is(.dark *),
.chroma .sd:is(.dark *),
.chroma .s2:is(.dark *),
.chroma .sh:is(.dark *),
.chroma .si:is(.dark *),
.chroma .sx:is(.dark *),
.chroma .s1:is(.dark *),
.chroma .gi:is(.dark *),
.chroma .go:is(.dark *),
.chroma .gp:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-400), var(--tw-text-opacity));
}

/* LiteralStringEscape */

.chroma .se {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-400), var(--tw-text-opacity));
}

.chroma .se:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-500), var(--tw-text-opacity));
}

/* LiteralStringRegex */

/* LiteralStringSymbol */

.chroma .sr,
.chroma .ss {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-800), var(--tw-text-opacity));
}

.chroma .sr:is(.dark *),
.chroma .ss:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-400), var(--tw-text-opacity));
}

/* OperatorWord */

.chroma .ow {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-400), var(--tw-text-opacity));
}

.chroma .ow:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-600), var(--tw-text-opacity));
}

/* Comment */

/* CommentMultiline */

/* CommentSingle */

/* CommentSpecial */

/* CommentPreproc */

/* CommentPreprocFile */

.chroma .c,
.chroma .cm,
.chroma .c1,
.chroma .cs,
.chroma .cp,
.chroma .cpf {
  font-style: italic;
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-500), var(--tw-text-opacity));
}

.chroma .c:is(.dark *),
.chroma .cm:is(.dark *),
.chroma .c1:is(.dark *),
.chroma .cs:is(.dark *),
.chroma .cp:is(.dark *),
.chroma .cpf:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-400), var(--tw-text-opacity));
}

/* CommentHashbang */

.chroma .ch {
  font-weight: 600;
  font-style: italic;
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-500), var(--tw-text-opacity));
}

.chroma .ch:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-400), var(--tw-text-opacity));
}

/* GenericEmph */

.chroma .ge {
  font-style: italic;
}

/* GenericHeading */

.chroma .gh {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-500), var(--tw-text-opacity));
}

/* GenericStrong */

.chroma .gs {
  font-weight: 600;
}

/* GenericSubheading */

/* GenericTraceback */

.chroma .gu,
.chroma .gt {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-500), var(--tw-text-opacity));
}

/* GenericUnderline */

.chroma .gl {
  text-decoration-line: underline;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}

.invisible {
  visibility: hidden;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  inset: 0px;
}

.-start-6 {
  inset-inline-start: -1.5rem;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-7 {
  bottom: 1.75rem;
}

.end-0 {
  inset-inline-end: 0px;
}

.top-0 {
  top: 0px;
}

.top-20 {
  top: 5rem;
}

.top-\[100vh\] {
  top: 100vh;
}

.top-\[calc\(100vh-5\.5rem\)\] {
  top: calc(100vh - 5.5rem);
}

.z-10 {
  z-index: 10;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.order-first {
  order: -9999;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.m-1 {
  margin: 0.25rem;
}

.m-auto {
  margin: auto;
}

.-mx-2 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.\!mb-0 {
  margin-bottom: 0px !important;
}

.\!mb-9 {
  margin-bottom: 2.25rem !important;
}

.\!mt-0 {
  margin-top: 0px !important;
}

.-mb-1 {
  margin-bottom: -0.25rem;
}

.-ms-5 {
  margin-inline-start: -1.25rem;
}

.-mt-3 {
  margin-top: -0.75rem;
}

.-mt-4 {
  margin-top: -1rem;
}

.-mt-6 {
  margin-top: -1.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-\[2px\] {
  margin-bottom: 2px;
}

.me-14 {
  margin-inline-end: 3.5rem;
}

.me-2 {
  margin-inline-end: 0.5rem;
}

.me-4 {
  margin-inline-end: 1rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ms-1 {
  margin-inline-start: 0.25rem;
}

.ms-2 {
  margin-inline-start: 0.5rem;
}

.mt-0 {
  margin-top: 0px;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-\[0\.1rem\] {
  margin-top: 0.1rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-12 {
  height: 3rem;
}

.h-8 {
  height: 2rem;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.max-h-\[10rem\] {
  max-height: 10rem;
}

.max-h-\[4\.5rem\] {
  max-height: 4.5rem;
}

.min-h-0 {
  min-height: 0px;
}

.w-12 {
  width: 3rem;
}

.w-24 {
  width: 6rem;
}

.w-36 {
  width: 9rem;
}

.w-6 {
  width: 1.5rem;
}

.w-8 {
  width: 2rem;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.min-w-0 {
  min-width: 0px;
}

.min-w-\[1\.8rem\] {
  min-width: 1.8rem;
}

.min-w-\[2\.4rem\] {
  min-width: 2.4rem;
}

.max-w-3xl {
  max-width: 48rem;
}

.max-w-7xl {
  max-width: 80rem;
}

.max-w-\[10rem\] {
  max-width: 10rem;
}

.max-w-\[6rem\] {
  max-width: 6rem;
}

.max-w-full {
  max-width: 100%;
}

.max-w-prose {
  max-width: 65ch;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-none {
  flex: none;
}

.flex-grow {
  flex-grow: 1;
}

.grow {
  flex-grow: 1;
}

.-translate-y-8 {
  --tw-translate-y: -2rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.list-none {
  list-style-type: none;
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 1rem;
}

.place-self-center {
  place-self: center;
}

.self-center {
  align-self: center;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.\!rounded-md {
  border-radius: 0.375rem !important;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-b-lg {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.border {
  border-width: 1px;
}

.border-s {
  border-inline-start-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-dotted {
  border-style: dotted;
}

.border-neutral-200 {
  --tw-border-opacity: 1;
  border-color: rgba(var(--color-neutral-200), var(--tw-border-opacity));
}

.border-neutral-300 {
  --tw-border-opacity: 1;
  border-color: rgba(var(--color-neutral-300), var(--tw-border-opacity));
}

.border-neutral-400 {
  --tw-border-opacity: 1;
  border-color: rgba(var(--color-neutral-400), var(--tw-border-opacity));
}

.border-primary-400 {
  --tw-border-opacity: 1;
  border-color: rgba(var(--color-primary-400), var(--tw-border-opacity));
}

.bg-neutral {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral), var(--tw-bg-opacity));
}

.bg-neutral-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-100), var(--tw-bg-opacity));
}

.bg-neutral-100\/50 {
  background-color: rgba(var(--color-neutral-100), 0.5);
}

.bg-neutral-300 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-300), var(--tw-bg-opacity));
}

.bg-neutral-500\/50 {
  background-color: rgba(var(--color-neutral-500), 0.5);
}

.bg-neutral\/50 {
  background-color: rgba(var(--color-neutral), 0.5);
}

.bg-primary-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-100), var(--tw-bg-opacity));
}

.bg-primary-200 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-200), var(--tw-bg-opacity));
}

.bg-primary-600 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-600), var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.object-scale-down {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.object-left {
  -o-object-position: left;
     object-position: left;
}

.p-1 {
  padding: 0.25rem;
}

.p-4 {
  padding: 1rem;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-\[1px\] {
  padding-top: 1px;
  padding-bottom: 1px;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pe-10 {
  padding-inline-end: 2.5rem;
}

.pe-2 {
  padding-inline-end: 0.5rem;
}

.pe-3 {
  padding-inline-end: 0.75rem;
}

.pe-4 {
  padding-inline-end: 1rem;
}

.pe-5 {
  padding-inline-end: 1.25rem;
}

.ps-2 {
  padding-inline-start: 0.5rem;
}

.ps-5 {
  padding-inline-start: 1.25rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-8 {
  padding-top: 2rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.align-top {
  vertical-align: top;
}

.align-text-bottom {
  vertical-align: text-bottom;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[0\.6rem\] {
  font-size: 0.6rem;
}

.text-\[52px\] {
  font-size: 52px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.leading-3 {
  line-height: .75rem;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.leading-relaxed {
  line-height: 1.625;
}

.\!text-neutral {
  --tw-text-opacity: 1 !important;
  color: rgba(var(--color-neutral), var(--tw-text-opacity)) !important;
}

.text-neutral-400 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-400), var(--tw-text-opacity));
}

.text-neutral-500 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-500), var(--tw-text-opacity));
}

.text-neutral-700 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-700), var(--tw-text-opacity));
}

.text-neutral-800 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-800), var(--tw-text-opacity));
}

.text-neutral-900 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-900), var(--tw-text-opacity));
}

.text-primary-400 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-400), var(--tw-text-opacity));
}

.text-primary-500 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-500), var(--tw-text-opacity));
}

.text-primary-600 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-600), var(--tw-text-opacity));
}

.text-primary-700 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-700), var(--tw-text-opacity));
}

.\!no-underline {
  text-decoration-line: none !important;
}

.decoration-neutral-300 {
  text-decoration-color: rgba(var(--color-neutral-300), 1);
}

.decoration-primary-500 {
  text-decoration-color: rgba(var(--color-primary-500), 1);
}

.opacity-0 {
  opacity: 0;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.backdrop-blur {
  --tw-backdrop-blur: blur(8px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-blur-sm {
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.dark\:prose-invert:is(.dark *) {
  --tw-prose-body: var(--tw-prose-invert-body);
  --tw-prose-headings: var(--tw-prose-invert-headings);
  --tw-prose-lead: var(--tw-prose-invert-lead);
  --tw-prose-links: var(--tw-prose-invert-links);
  --tw-prose-bold: var(--tw-prose-invert-bold);
  --tw-prose-counters: var(--tw-prose-invert-counters);
  --tw-prose-bullets: var(--tw-prose-invert-bullets);
  --tw-prose-hr: var(--tw-prose-invert-hr);
  --tw-prose-quotes: var(--tw-prose-invert-quotes);
  --tw-prose-quote-borders: var(--tw-prose-invert-quote-borders);
  --tw-prose-captions: var(--tw-prose-invert-captions);
  --tw-prose-kbd: var(--tw-prose-invert-kbd);
  --tw-prose-kbd-shadows: var(--tw-prose-invert-kbd-shadows);
  --tw-prose-code: var(--tw-prose-invert-code);
  --tw-prose-pre-code: var(--tw-prose-invert-pre-code);
  --tw-prose-pre-bg: var(--tw-prose-invert-pre-bg);
  --tw-prose-th-borders: var(--tw-prose-invert-th-borders);
  --tw-prose-td-borders: var(--tw-prose-invert-td-borders);
}

.dark\:prose-invert:is(.dark *) :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  text-decoration-color: rgba(var(--color-neutral-600), 1);
}

.dark\:prose-invert:is(.dark *) :where(kbd):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: rgba(var(--color-neutral-200), 1);
  background-color: rgba(var(--color-neutral-700), 1);
}

.dark\:prose-invert:is(.dark *) :where(mark):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  background-color: rgba(var(--color-secondary-400), 1);
}

.first\:mt-8:first-child {
  margin-top: 2rem;
}

.hover\:scale-125:hover {
  --tw-scale-x: 1.25;
  --tw-scale-y: 1.25;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:border-primary-300:hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--color-primary-300), var(--tw-border-opacity));
}

.hover\:\!bg-primary-500:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(var(--color-primary-500), var(--tw-bg-opacity)) !important;
}

.hover\:bg-primary-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-100), var(--tw-bg-opacity));
}

.hover\:bg-primary-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-500), var(--tw-bg-opacity));
}

.hover\:bg-primary-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-600), var(--tw-bg-opacity));
}

.hover\:text-neutral:hover {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral), var(--tw-text-opacity));
}

.hover\:text-primary-500:hover {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-500), var(--tw-text-opacity));
}

.hover\:text-primary-600:hover {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-600), var(--tw-text-opacity));
}

.hover\:text-primary-700:hover {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-700), var(--tw-text-opacity));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.hover\:decoration-primary-400:hover {
  text-decoration-color: rgba(var(--color-primary-400), 1);
}

.hover\:decoration-2:hover {
  text-decoration-thickness: 2px;
}

.hover\:underline-offset-2:hover {
  text-underline-offset: 2px;
}

.focus\:translate-y-0:focus {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.focus\:bg-primary-100:focus {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-100), var(--tw-bg-opacity));
}

.focus\:outline-dotted:focus {
  outline-style: dotted;
}

.focus\:outline-2:focus {
  outline-width: 2px;
}

.focus\:outline-transparent:focus {
  outline-color: transparent;
}

.group:hover .group-hover\:visible {
  visibility: visible;
}

.group:hover .group-hover\:-translate-x-\[2px\] {
  --tw-translate-x: -2px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:text-primary-300 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-300), var(--tw-text-opacity));
}

.group:hover .group-hover\:text-primary-600 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-600), var(--tw-text-opacity));
}

.group:hover .group-hover\:underline {
  text-decoration-line: underline;
}

.group:hover .group-hover\:decoration-primary-500 {
  text-decoration-color: rgba(var(--color-primary-500), 1);
}

.group:hover .group-hover\:decoration-2 {
  text-decoration-thickness: 2px;
}

.group:hover .group-hover\:underline-offset-2 {
  text-underline-offset: 2px;
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

.dark\:inline:is(.dark *) {
  display: inline;
}

.dark\:flex:is(.dark *) {
  display: flex;
}

.dark\:hidden:is(.dark *) {
  display: none;
}

.dark\:border-neutral-600:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgba(var(--color-neutral-600), var(--tw-border-opacity));
}

.dark\:border-neutral-700:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgba(var(--color-neutral-700), var(--tw-border-opacity));
}

.dark\:border-primary-600:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgba(var(--color-primary-600), var(--tw-border-opacity));
}

.dark\:bg-neutral-600:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-600), var(--tw-bg-opacity));
}

.dark\:bg-neutral-700:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-700), var(--tw-bg-opacity));
}

.dark\:bg-neutral-800:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-800), var(--tw-bg-opacity));
}

.dark\:bg-neutral-800\/50:is(.dark *) {
  background-color: rgba(var(--color-neutral-800), 0.5);
}

.dark\:bg-neutral-900\/50:is(.dark *) {
  background-color: rgba(var(--color-neutral-900), 0.5);
}

.dark\:bg-primary-400:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-400), var(--tw-bg-opacity));
}

.dark\:bg-primary-800:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-800), var(--tw-bg-opacity));
}

.dark\:bg-primary-900:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-900), var(--tw-bg-opacity));
}

.dark\:text-neutral:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral), var(--tw-text-opacity));
}

.dark\:text-neutral-100:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-100), var(--tw-text-opacity));
}

.dark\:text-neutral-300:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-300), var(--tw-text-opacity));
}

.dark\:text-neutral-400:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-400), var(--tw-text-opacity));
}

.dark\:text-neutral-500:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-500), var(--tw-text-opacity));
}

.dark\:text-neutral-800:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-800), var(--tw-text-opacity));
}

.dark\:text-primary-400:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-400), var(--tw-text-opacity));
}

.dark\:text-primary-500:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-500), var(--tw-text-opacity));
}

.dark\:text-primary-300:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-300), var(--tw-text-opacity));
}

.dark\:text-primary-800:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-800), var(--tw-text-opacity));
}

.dark\:text-primary-600:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-600), var(--tw-text-opacity));
}

.dark\:hover\:border-primary-600:hover:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgba(var(--color-primary-600), var(--tw-border-opacity));
}

.dark\:hover\:\!bg-primary-700:hover:is(.dark *) {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(var(--color-primary-700), var(--tw-bg-opacity)) !important;
}

.dark\:hover\:bg-primary-400:hover:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-400), var(--tw-bg-opacity));
}

.dark\:hover\:bg-primary-900:hover:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-900), var(--tw-bg-opacity));
}

.dark\:hover\:text-neutral-800:hover:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-800), var(--tw-text-opacity));
}

.dark\:hover\:text-primary-400:hover:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-400), var(--tw-text-opacity));
}

.dark\:focus\:bg-primary-900:focus:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-900), var(--tw-bg-opacity));
}

.group:hover .dark\:group-hover\:text-neutral-700:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-700), var(--tw-text-opacity));
}

.group:hover .dark\:group-hover\:text-primary-400:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-400), var(--tw-text-opacity));
}

@media (min-width: 640px) {
  .sm\:mb-0 {
    margin-bottom: 0px;
  }

  .sm\:me-7 {
    margin-inline-end: 1.75rem;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:max-h-\[7\.5rem\] {
    max-height: 7.5rem;
  }

  .sm\:w-1\/2 {
    width: 50%;
  }

  .sm\:w-40 {
    width: 10rem;
  }

  .sm\:max-w-\[10rem\] {
    max-width: 10rem;
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:p-6 {
    padding: 1.5rem;
  }

  .sm\:px-14 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .sm\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .sm\:pe-6 {
    padding-inline-end: 1.5rem;
  }

  .sm\:pt-10 {
    padding-top: 2.5rem;
  }

  .sm\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .sm\:last\:me-0:last-child {
    margin-inline-end: 0px;
  }

  .sm\:last\:me-0\.5:last-child {
    margin-inline-end: 0.125rem;
  }
}

@media (min-width: 768px) {
  .md\:w-1\/3 {
    width: 33.333333%;
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:p-\[10vh\] {
    padding: 10vh;
  }

  .md\:px-24 {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .md\:text-left {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .lg\:sticky {
    position: sticky;
  }

  .lg\:top-10 {
    top: 2.5rem;
  }

  .lg\:order-last {
    order: 9999;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:w-1\/4 {
    width: 25%;
  }

  .lg\:max-w-xs {
    max-width: 20rem;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:p-\[12vh\] {
    padding: 12vh;
  }

  .lg\:px-32 {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .lg\:ps-8 {
    padding-inline-start: 2rem;
  }
}

@media (min-width: 1280px) {
  .xl\:w-1\/5 {
    width: 20%;
  }
}

.ltr\:right-0:where([dir="ltr"], [dir="ltr"] *) {
  right: 0px;
}

.ltr\:block:where([dir="ltr"], [dir="ltr"] *) {
  display: block;
}

.ltr\:inline:where([dir="ltr"], [dir="ltr"] *) {
  display: inline;
}

.ltr\:hidden:where([dir="ltr"], [dir="ltr"] *) {
  display: none;
}

.ltr\:text-right:where([dir="ltr"], [dir="ltr"] *) {
  text-align: right;
}

.rtl\:left-0:where([dir="rtl"], [dir="rtl"] *) {
  left: 0px;
}

.rtl\:block:where([dir="rtl"], [dir="rtl"] *) {
  display: block;
}

.rtl\:inline:where([dir="rtl"], [dir="rtl"] *) {
  display: inline;
}

.rtl\:hidden:where([dir="rtl"], [dir="rtl"] *) {
  display: none;
}

.rtl\:text-left:where([dir="rtl"], [dir="rtl"] *) {
  text-align: left;
}

@media print {
  .print\:hidden {
    display: none;
  }
}
